<!doctype html>

{% block head %}
<title>Blue Census</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type=text/javascript src="{{ url_for('static', filename='js/lib/vue.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/vue-resource.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="document col-xs-12 col-md-5">

    <h1><font color="#164362">Blue</font> Census</h1>
    <p class=author>by Matheus Hoffmann Silva. get the <a href="https://github.com/hoffmannmatheus/blue-census">source code</a>.</p>
  
  <div id="app">

    <h4>Search by:</h4>
    <form class="form-inline">
      <button type="button" class="btn btn-[[queryType == 'coord' ? 'info' : 'default']]" style="margin-bottom: 15px;" v-on:click="setType('coord')">Lagitude and Longitude</button>
      <button type="button" class="btn btn-default btn-[[queryType == 'names' ? 'info' : 'default']]" style="margin-bottom: 15px;" v-on:click="setType('names')">State and County names</button>
    </form>

    <div class=typeCoord style="display:[[queryType == 'coord' ? 'block' : 'none']];">
      <h4>Latitude and Longitude</h4>
      <form class="form-inline">
        <div class="form-group">
          <label for="latitudeInput">Latitude</label>
          <input type="text" class="form-control" id="latitudeInput" v-model=coordLat value="30">
        </div>
        <div class="form-group">
          <label for="longitudeInput">Longitude</label>
          <input type="text" class="form-control" id="longitudeInput" v-model=coordLon value="-90">
        </div>
        <button id=buttonCoord v-on:click="search()" type=button class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> County Census</button>
      </form>
    </div>

    <div class=typeNames style="display:none;display:[[queryType == 'names' ? 'block' : 'none']];">
      <h4>State and County names</h4>
      <form class="form-inline">
        <div class="form-group">
          <label for="stateInput">State</label>
          <input type="text" class="form-control" id="stateInput" v-model=nameState value="New Jersey">
        </div>
        <div class="form-group">
          <label for="countyInput">County</label>
          <input type="text" class="form-control" id="countyInput" v-model=nameCounty value="Union County">
        </div>
        <button id=buttonNames v-on:click="search()" type=button class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> County Census</button>
      </form>
    </div>
    
    <br/>
    <br/>

    <p>API URL:</p>
    <pre>[[buildUrl()]]</pre>

    <br/>
    
    <div class="alert alert-info" role="alert" style="display:none;display:[[isLoading ? 'block' : 'none']];">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      Waiting for API response...
    </div>

    <div class="alert alert-danger" role="alert" style="display:none;display:[[hasError ? 'block' : 'none']];">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
      <span class="sr-only">Error!</span> Error: [[errorMessage]]
    </div>

    <div class="panel panel-default" style="visibility:hidden; visibility:[[!isLoading && !hasError && prettyData ? 'visible' : 'hidden']];">
<!--<div class="panel panel-default" >-->
      <div class="panel-heading">
        <h3 class="panel-title">Insights - [[stateName]] - [[countyName]]</h3>
      </div>
      <div class="panel-body">
        <div id="divMaleVsFemale" class="col-xs-12 col-md-6">
          <canvas id="chartMaleVsFemale" width="auto" height="auto"></canvas>
          <div id="divMaleVsFemaleLegend"></div>
        </div>
        <div id="divRaces"class="col-xs-12 col-md-6" >
          <canvas id="chartRaces" width="auto" height="auto"></canvas>
          <div id="divRacesLegend"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="display:none;display:[[!isLoading && !hasError && prettyData ? 'block' : 'none']];">
      <div class="panel-heading">
        <h3 class="panel-title">Data</h3>
      </div>
      <pre class="panel-body" style="border:0;background-color:transparent;">[[prettyData]]</pre>
    </div>


  </div>
</div>

<script type=text/javascript src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app/app.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app/charts.js') }}"></script>
{% endblock %}
