<!doctype html>

{% block head %}
<title>Blue Census</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/lib/vue.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/vue-resource.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="document col-xs-12 col-md-7">

    <h1><span class=blue>Blue</span> Census</h1>
    <p class=author>by Matheus Hoffmann Silva. get the <a target='_blank' href="https://github.com/hoffmannmatheus/blue-census">source code</a>.</p>
  
  <div id="app">

    <h4>Modes:</h4>

    <form class="form-inline">
      <button type="button" class="btn btn-[[queryType == 'map' ? 'info' : 'default']]" style="margin-bottom: 15px;" v-on:click="setType('map')">County Insights</button>
      <button type="button" class="btn btn-[[queryType == 'map_compare' ? 'info' : 'default']]" style="margin-bottom: 15px;" v-on:click="setType('map_compare')">County Comparisons</button>
      <button type="button" class="btn btn-default btn-[[queryType == 'names' ? 'info' : 'default']]" style="margin-bottom: 15px;" v-on:click="setType('names')">County Search</button>
    </form>

    <!-- MAP -->
    <div class=typeCoord style="display:[[queryType == 'map' || queryType == 'map_compare' ? 'block' : 'none']];">
      <h4>[[queryType == 'map' ? "Select a county on the Map:" : "Select two counties to compare:"]]</h4>
      <div id="map"></div>
    </div>

    <!-- NAMES -->
    <div class=typeNames style="display:none;display:[[queryType == 'names' ? 'block' : 'none']];">
      <h4>State and County names</h4>
      <form class="form-inline">
        <div class="form-group">
          <label for="stateInput">State</label>
          <input type="text" class="form-control" id="stateInput" v-model=nameState value="New Jersey">
        </div>
        <div class="form-group">
          <label for="countyInput">County</label>
          <input type="text" class="form-control" id="countyInput" v-model=nameCounty value="Union County">
        </div>
        <button id=buttonNames v-on:click="search()" type=button class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> County Census</button>
      </form>
    </div>
    
    <br/>

    <!-- 
    <p>API URL:</p>
    <pre>[[buildUrl()]]</pre>
    <br/>
    -->

    <div class="alert alert-info" role="alert" style="display:none;display:[[isLoading ? 'block' : 'none']];">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      Waiting for API response...
    </div>

    <div class="alert alert-danger" role="alert" style="display:none;display:[[hasError ? 'block' : 'none']];">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
      <span class="sr-only">Error!</span> Error: [[errorMessage]]
    </div>

    <h4 v-if="queryType == 'map_compare' && !isComparisonReady">
      Please, select the second county...
    </h4>

    <div style="visibility:hidden; visibility:[[!isLoading && !hasError && (queryType == 'names' || queryType == 'map' || (queryType == 'map_compare' && isComparisonReady)) ? 'visible' : 'hidden']];">

      <!-- Charts for County Insights -->
      <div class="panel panel-default" style="display:none;display:[[queryType != 'map_compare' ? 'block' : 'none']];">
        <div class="panel-heading">
          <h3 class="panel-title" v-if="!hasError">Insights: [[data.STNAME]] - [[data.CTYNAME]]</h3>
        </div>
        <div class="panel-body">
          <div id="divMaleVsFemale" class="col-xs-12 col-md-6">
            <canvas id="chartMaleVsFemale" width="auto" height="auto"></canvas>
            <div id="divMaleVsFemaleLegend"></div>
          </div>
          <div id="divRaces"class="col-xs-12 col-md-6" >
            <canvas id="chartRaces" width="auto" height="auto"></canvas>
            <div id="divRacesLegend"></div>
          </div>
        </div>
      </div>

      <!-- Charts for County Comparison -->
      <div class="panel panel-default" style="display:none;display:[[queryType == 'map_compare' ? 'block' : 'none']];">
        <div class="panel-heading">
          <h3 class="panel-title" v-if="!hasError && dataToCompare">Comparison: [[data.CTYNAME]] vs. [[dataToCompare.CTYNAME]]</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-md-6">
            <h3>Total Population</h3>
            <canvas id="chartCompareTotalPop" width="auto" height="auto"></canvas>
            <div id="divCompareTotalLegend"></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3>White Population %</h3>
            <canvas id="chartCompareWhitePop" width="auto" height="auto"></canvas>
            <div id="divCompareWhitePop"></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3>Asian Population %</h3>
            <canvas id="chartCompareAsianPop" width="auto" height="auto"></canvas>
            <div id="divCompareAsianPop"></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3>Black Population %</h3>
            <canvas id="chartCompareBlackPop" width="auto" height="auto"></canvas>
            <div id="divCompareBlackPop"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- Pretty Print of Data -->
    <div class="panel panel-default" style="display:none;display:[[!isLoading && !hasError && queryType != 'map_compare' && prettyData ? 'block' : 'none']];">
      <div class="panel-heading">
        <h3 class="panel-title">Data</h3>
      </div>
      <pre class="panel-body" style="border:0;background-color:transparent;">[[prettyData]]</pre>
    </div>


  </div>
</div>

<!-- Dependencies -->
<script type=text/javascript src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/underscore.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/lib/Chart.min.js') }}"></script>

<!-- Controllers -->
<script type=text/javascript src="{{ url_for('static', filename='js/app/map.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app/app.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/app/charts.js') }}"></script>

<!-- Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU7_ArhnUuEeW0ieZedIk1PYQ_Mz59qaA&callback=initMap" async defer></script>

{% endblock %}
